TESTED ON:

standart_c++ == 20 (can downgrade in cmake file)
libpqxx == 7.9.2
boost == 1_86_0
openSSL == 3.4.0

All libs/packages installed on C:/Program Files/ (except libpqxx, it's in libs folder on project)
